nav {
    background-color: #066E9B;
}

.nav-item {
    color: black;
    text-decoration: none;
}

.nav-item:hover {
    background-color: #2A98BA;
    color: white;
}

.jumbotron {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
}

.speakers h3 {
    text-align: center;
}

.section {
    text-align: center;
}

.venue h3 {
    font-weight: bold;
}

.btn:hover {
    background-color: #2A98BA;
    border-color: #2A98BA;
}
.footer-item {
    color: black;
    text-decoration: none;
}

.footer-item:hover {
    background-color: #066E9B;
    color: white;
}